<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- favicon -->
    <link rel="icon" href="/img/keaBlackLogo.png" type="image" sizes="16x16">


</head>
<body>
    <!-- HEADER -->
    <header >
        <div class="container">
            <nav>
                <ul>
                    <li><a class="logoPlacement" href="/"><img id="navBarLogo" src="/img/keaWhiteLogo.png"></a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/student">Student</a></li>
                    <li><a href="/courseOverview">Courses</a></li>
                    <li><a href="/about-us">About us</a></li>
                </ul>
            </nav>
        </div>
    </header>

<!-- CREATE STUDENT FORM -->
    <div class="container">
        <h1>Create Student</h1>
        <br>
        <table>
            <tr>
                <label for="firstName">First name</label>
                <input id="firstName" name="firstName" placeholder="Enter first name..." type="text" required>
                <br>
                <label for="lastName">Last name</label>
                <input id="lastName" name="lastName" placeholder="Enter last name..." type="text" required>
                <br>
                <label for="enrollmentDate">Enrollment date</label>
                <input id="enrollmentDate" name="enrollmentDate" type="date" required>
                <br>
                <label for="cpr">CPR</label>
                <input id="cpr" name="cpr" placeholder="Enter CPR number..." type="number"
                       minlength="4" maxlength="8" required>
                <br>
                <a href="/student/create-student" class="button" id="createButton">Create</a>
            </tr>

        </table>
    </div>

    <!-- footer -->
    <div class="footer">
        <p>KEA website</p>
        <p>Mandatory project</p>
        <p>SWK, sem2 2020©</p>
    </div>
</body>
</html>