<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student details</title>
</head>
<body>
<!-- HEADER -->
<header >
    <div class="container">
        <nav>
            <ul>
                <li><a class="logoPlacement" href="/"><img id="navBarLogo" src="/img/keaWhiteLogo.png"></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/student">Student</a></li>
                <li><a href="/courseOverview">Courses</a></li>
                <li><a href="/about-us">About us</a></li>
            </ul>
        </nav>
    </div>
</header>


<!-- footer -->
<div class="footer">
    <p>KEA website</p>
    <p>Mandatory project</p>
    <p>SWK, sem2 2020©</p>
</div>
</body>
</html>