<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <!-- TODO: MENU -->
    <header>
        <div class="container">
            <h1 class="logo"></h1>

            <nav>
                <ul>
                    <li><a href="/"><img id="logo" src="/img/kea.png"></a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Student</a></li>
                    <li><a href="#">Courses</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- TODO: Table of students -->
    <div class="container">
        <h1>Student administration</h1>

        <table>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Enrollment</th>
                <th>Edit</th>
            </tr>
            <tr th:each="student : ${students}">

                <th th:text="${student.firstName}"></th>
                <th th:text="${student.lastName}"></th>
                <th th:text="${student.enrollmentDate}"></th>
                <td><a th:href="@{/student(id=${student.id})}" ><button class="knap" id="grøn">Details</button></a>
                    <a th:href="@{/student(id=${student.id})}" ><button class="knap" id="blå">Edit</button></a>
                    <a th:href="@{/student(id=${student.id})}" ><button class="knap" id="råd">Delete</button></a></td>
            </tr>

        </table>
    </div>
</body>
</html>