<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- favicon -->
    <link rel="icon" href="/img/keaBlackLogo.png" type="image" sizes="16x16">

</head>
<body>
<!-- HEADER -->
<header >
    <div class="container">
        <nav>
            <ul>
                <li><a class="logoPlacement" href="/"><img id="navBarLogo" src="/img/keaWhiteLogo.png"></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/studentOverview">Student</a></li>
                <li><a href="/courseOverview">Courses</a></li>
                <li><a href="/about-us">About us</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Table of courses -->
<div class="container">
    <h1>Welcome to Course Adminstration</h1>
    <h4>Courses we offer at KEA</h4>
    <a href="/createCourse" class="button" id="createButton">Add courses</a>
    <br><br>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Enrollment</th>
            <th>Description</th>
            <th>ETCS</th>
        </tr>
    </table>
</div>

<!-- footer -->
<div class="footer">
    <p>KEA website</p>
    <p>Mandatory project</p>
    <p>SWK, sem2 2020©</p>
</div>
</body>
</html>